---
http_interactions:
- request:
    method: get
    uri: http://solrcloud-test.library.ualberta.ca:8080/solr/discovery-test/select?id=954921333007&qt=document&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 14 Feb 2020 05:00:43 GMT
      Etag:
      - '"NjU5ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":5,"params":{"q":"{!raw
        f=id v=$id}","qt":"document","echoParams":"all","fl":"*","id":"954921333007","collection":"discovery-test-2019-08-22","rows":"1","wt":"json"}},"response":{"numFound":1,"start":0,"maxScore":13.732142,"docs":[{"subject_addl_t":["Business
        Management","Economics","General and Others"],"opensearch_display":["Business
        Management","Economics","General and Others","Business, Economy and Management","Business,
        Economy and Management","Academy of Management Journal"],"title_addl_t":["Academy
        of Management Journal","ACAD MANAGE J","ACADEMY OF MANAGEMENT JOURNAL (AMJ)","ACADEMY
        OF MANAGEMENT JOURNAL","JOURNAL OF THE ACADEMY OF MANAGEMENT","ACAD. MANAGE.
        J"],"format":["Journal"],"subject_t":["Business, Economy and Management"],"issn_tesim":["0001-4273"],"issn_t":["0001-4273","0001-4273"],"subject_topic_facet":["Business,
        Economy and Management"],"location_tesim":["University of Alberta Internet"],"electronic_tesim":["Online"],"language_facet":["English"],"title_display":["Academy
        of Management Journal"],"published_display":["UNITED STATES"],"title_t":["Academy
        of Management Journal"],"id":"954921333007","source_tesim":["SFX"],"source":["SFX"],"_version_":1658479534031241216,"timestamp":"2020-02-14T03:02:15.902Z","marc_display":"<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><collection xmlns=\"http://www.loc.gov/MARC21/slim\"><record><leader>00000nas-a2200000z--4500</leader><controlfield
        tag=\"008\">200213uuuuuuuuuxx-uu-|------u|----|eng-d</controlfield><datafield
        tag=\"010\" ind1=\" \" ind2=\" \"><subfield code=\"a\">   58003817 </subfield></datafield><datafield
        tag=\"245\" ind1=\" \" ind2=\"0\"><subfield code=\"a\">Academy of Management
        Journal</subfield></datafield><datafield tag=\"210\" ind1=\" \" ind2=\" \"><subfield
        code=\"a\">ACAD MANAGE J</subfield></datafield><datafield tag=\"210\" ind1=\"
        \" ind2=\" \"><subfield code=\"a\">ACADEMY OF MANAGEMENT JOURNAL (AMJ)</subfield></datafield><datafield
        tag=\"210\" ind1=\" \" ind2=\" \"><subfield code=\"a\">ACADEMY OF MANAGEMENT
        JOURNAL</subfield></datafield><datafield tag=\"210\" ind1=\" \" ind2=\" \"><subfield
        code=\"a\">JOURNAL OF THE ACADEMY OF MANAGEMENT  </subfield></datafield>[...]
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><Fault xmlns="http://schemas.sirsidynix.com/rest"><code>com.sirsidynix.ilswslegacy.rest.ParameterException.badInteger</code><string>The
        parameter titleID must be a well formed integer</string></Fault>
  recorded_at: Fri, 14 Feb 2020 21:40:39 GMT
recorded_with: VCR 5.0.0
