---
http_interactions:
- request:
    method: get
    uri: http://solrcloud-test.library.ualberta.ca:8080/solr/discovery-test/select?id=10068&qt=document&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 21 Feb 2020 05:00:43 GMT
      Etag:
      - '"MTM1ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":5,"params":{"q":"{!raw
        f=id v=$id}","qt":"document","echoParams":"all","fl":"*","id":"10068","collection":"discovery-test-2019-08-22","rows":"1","wt":"json"}},"response":{"numFound":1,"start":0,"maxScore":14.221293,"docs":[{"aacr_pub_date":["1972"],"pub_date":["1972"],"pub_date_sort":1972,"gmd_tesim":["microform"],"lc_callnum_display":["LB
        01 459 AEU"],"general_note_tesim":["Microfilm. Ottawa, Central Microfilm Unit,
        Public Archives of Canada, 1972. 1 reel. 35 mm. (Canadian theses on microfilm,
        11405)"],"subject_t":["Free schools"],"opensearch_display":["Free schools","The
        development of free schools [microform]","Potter, Geoffrey D.","Free schools"],"title_display":["The
        development of free schools [microform]"],"author_display":["Potter, Geoffrey
        D."],"published_display":["Montreal"],"title_t":["The development of free
        schools [microform]"],"id":"10068","marc_display":"<?xml version=\"1.0\" encoding=\"UTF-8\"?><collection
        xmlns=\"http://www.loc.gov/MARC21/slim\"><record><leader>00898cam a2200265
        | 4500</leader><controlfield tag=\"001\">10068</controlfield><controlfield
        tag=\"008\">010974s1972    quc     a         0 eng  </controlfield><datafield
        tag=\"035\" ind1=\" \" ind2=\" \"><subfield code=\"a\">ocn461369443</subfield></datafield><datafield
        tag=\"040\" ind1=\" \" ind2=\" \"><subfield code=\"b\">eng</subfield></datafield><datafield
        tag=\"043\" ind1=\" \" ind2=\" \"><subfield code=\"a\">n ---</subfield></datafield><datafield
        tag=\"049\" ind1=\" \" ind2=\" \"><subfield code=\"a\">aeu</subfield><subfield
        code=\"b\">eng</subfield></datafield><datafield tag=\"050\" ind1=\"0\" ind2=\"
        \"><subfield code=\"a\">LB 01</subfield><subfield code=\"b\">459</subfield></datafield><datafield
        tag=\"090\" ind1=\"0\" ind2=\"0\"><subfield code=\"a\">LB 01 459</subfield><subfield
        code=\"b\">AEU</subfield></datafield><datafield tag=\"100\" ind1=\"1\" ind2=\"
        \"><subfield code=\"a\">Potter, Geoffrey D.</subfield></datafield><datafield
        tag=\"245\" ind1=\"1\" ind2=\"4\"><subfield code=\"a\">The development of
        free sch[...]
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=10068
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>10068</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>University
        of Alberta Research Collections Resource Facility</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ON_SHELF</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>UARCRF</libraryID><classificationID>LC</classificationID><callNumber>LB
        01 459 (1 reel)</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>000000231118</itemID><itemTypeID>MICROFORM</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking><staffNote>{}</staffNote></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>am
        |0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>10068</text></MarcEntryInfo><MarcEntryInfo><label>Data
        source</label><entryID>003</entryID><indicators>  </indicators><text>CaAEU</text></MarcEntryInfo><MarcEntryInfo><label>Fixed
        field data</label><entryID>008</entryID><indicators>  </indicators><text>010974s1972    quc     a         0
        eng</text></MarcEntryInfo><MarcEntryInfo><label>Local system #</label><entryID>035</entryID><indicators>  </indicators><text>ocn461369443</text></MarcEntryInfo><MarcEntryInfo><label>Cataloging
        Source</label><entryID>040</entryID><indicators>  </indicators><text>eng</text></MarcEntryInfo><MarcEntryInfo><label>Geographic
        Area Code</label><entryID>043</entryID><indicators>  </indicators><text>n
        ---</text></MarcEntryInfo><MarcEntryInfo><label>Local holdings</label><entryID>049</entryID><indicators>  </indicators><text>aeu
        eng</text></MarcEntryInfo><MarcEntryInfo><label>LC Call Number</label><entryID>050</entryID><indicators>0
        </indicators><text>LB 01 459</text></MarcEntryInfo><MarcEntryInfo><label>Local
        LC call number</label><entryID>090</entryID><indicators>00</indicators><text>LB
        01 459 AEU</text><entryTypeCodes>L</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Personal
        Author</label><entryID>100</entryID><indicators>1 </indicators><text>Potter,
        Geoffrey D.</text><entryTypeCodes>MAR</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Title</label><entryID>245</entryID><indicators>14</indicators><text>The
        development of free schools [microform]</text><entryTypeCodes>RMT</entryTypeCodes></MarcEntryInfo><MarcEntryInfo><label>Publication
        info</label><entryID>260</entr[...]
[...]
- request:
    method: get
    uri: http://solrcloud-test.library.ualberta.ca:8080/solr/discovery-test/select?id=1000719&qt=document&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 21 Feb 2020 05:00:43 GMT
      Etag:
      - '"NGQ1ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":6,"params":{"q":"{!raw
        f=id v=$id}","qt":"document","echoParams":"all","fl":"*","id":"1000719","collection":"discovery-test-2019-08-22","rows":"1","wt":"json"}},"response":{"numFound":1,"start":0,"maxScore":14.201559,"docs":[{"aacr_pub_date":["1988"],"pub_date":["1988"],"pub_date_sort":1988,"lc_callnum_display":["F
        1465.3 G6 M296 1988"],"isbn_t":["0887066755"],"general_note_tesim":["Includes
        index."],"subject_addl_t":["Guatemala Government relations","Guatemala","Mexico","Guatemala
        Social conditions","Government relations"],"opensearch_display":["Guatemala
        Government relations","Guatemala","Mexico","Guatemala Social conditions","Government
        relations","Indians of Central America -- Guatemala -- Government relations","Political
        refugees -- Guatemala","Political refugees -- Mexico","Indians of Central
        America -- Guatemala -- Social conditions","Return migration -- Guatemala","Mayas
        -- Government relations","Refugees of a hidden war : the aftermath of counterinsurgency
        in Guatemala / Beatriz Manz","SUNY series in anthropological studies of contemporary
        issues.","Manz, Beatriz,","Indians of Central America","Political refugees","Return
        migration","Mayas","The aftermath of counterinsurgency in Guatemala."],"subject_t":["Indians
        of Central America -- Guatemala -- Government relations","Political refugees
        -- Guatemala","Political refugees -- Mexico","Indians of Central America --
        Guatemala -- Social conditions","Return migration -- Guatemala","Mayas --
        Government relations"],"isbn_tesim":["0887066755"],"title_display":["Refugees
        of a hidden war : the aftermath of counterinsurgency in Guatemala"],"author_display":["Manz,
        Beatriz, 1944-"],"subject_geo_facet":["Guatemala","Mexico"],"published_display":["Albany"],"title_t":["Refugees
        of a hidden war : the aftermath of counterinsurgency in Guatemala / Beatriz
        Manz"],"publisher_tesim":["State University of New York Press"],"id":"1000719","description_tesim":["ill"],"title_series_t":["SUNY
        series in anthropological studies of contemporary issues."],"local_note_tesim":["University
        of Alberta copy in the Schloss War, Revolution, & Imperial Expansion Collection."],"format":["Book"],"author_t":["Manz,
        Beatriz,"],"contains_tesim":["vi, 283 p. : ill. ; 24 cm"],"size_tesim":["24
        cm"],"bibliography_note_tesim":["Bibliography: p. [265]-270."],"subject_topic_facet":["Indians
        of Central America","Political refugees","Return migration","Mayas"],"location_tesim":["University
        of Alberta Research and Collections Resource Facility"],"responsibility_display":["Beatriz
        Manz."],"electronic_tesim":["At Library"],"title_added_entry_t":["The aftermath
        of counterinsurgency in Guatemala."],"language_facet":["English"],"material_type_display":["vi,
        283 p."],"source_tesim":["Symphony"],"source":["Symphony"],"institution_tesim":["University
        of Alberta"],"_version_":1642604988291088384,"timestamp":"2019-08-22T21:43:09.333Z","marc_display":"<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><collection xmlns=\"http://www.loc.gov/MARC21/slim\"><record><leader>01665cam
        a2200409 a 4500</leader><controlfield tag=\"001\">1000719</controlfield><controlfield
        tag=\"008\">880406s1988    nyua     b   s  1 0 eng d</controlfield><datafield
        tag=\"010\" ind1=\" \" ind2=\" \"><subfield code=\"a\">   87010169</subfield></datafield><datafield
        tag=\"020\" ind1=\" \" ind2=\" \"[...]
[...]
