---
http_interactions:
- request:
    method: get
    uri: http://solrcloud-test.library.ualberta.ca:8080/solr/discovery-test/select?id=1002481&qt=document&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 14 Feb 2020 05:00:43 GMT
      Etag:
      - '"NjE5ODAwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"responseHeader":{"zkConnected":true,"status":0,"QTime":12,"params":{"q":"{!raw
        f=id v=$id}","qt":"document","echoParams":"all","fl":"*","id":"1002481","collection":"discovery-test-2019-08-22","rows":"1","wt":"json"}},"response":{"numFound":1,"start":0,"maxScore":14.242968,"docs":[{"aacr_pub_date":["1966"],"pub_date":["1966"],"pub_date_sort":1966,"lc_callnum_display":["PR
        3095 B4 1966 ACHCU","PR 3095 B4 1966 AENABC","PR 3095 B39 1966"],"subject_addl_t":["Stage
        history To 1625","Technique","Dramatic production"],"opensearch_display":["Stage
        history To 1625","Technique","Dramatic production","Shakespeare, William,
        -- 1564-1616 -- Stage history -- To 1625","Shakespeare, William, -- 1564-1616
        -- Technique","Shakespeare, William, -- 1564-1616 -- Dramatic production","Globe
        Theatre (London, England : 1599-1644)","Shakespeare at the Globe : 1599-1609
        / Bernard Beckerman","Beckerman, Bernard.","Shakespeare, William, 1564-1616","Globe
        Theatre (London, England : 1599-1644)"],"subject_t":["Shakespeare, William,
        -- 1564-1616 -- Stage history -- To 1625","Shakespeare, William, -- 1564-1616
        -- Technique","Shakespeare, William, -- 1564-1616 -- Dramatic production","Globe
        Theatre (London, England : 1599-1644)"],"title_display":["Shakespeare at the
        Globe : 1599-1609"],"author_display":["Beckerman, Bernard"],"published_display":["New
        York"],"title_t":["Shakespeare at the Globe : 1599-1609 / Bernard Beckerman"],"publisher_tesim":["Collier
        Books"],"id":"1002481","format":["Book"],"author_t":["Beckerman, Bernard."],"contains_tesim":["254
        p. ; 22 cm"],"size_tesim":["22 cm"],"subject_topic_facet":["Shakespeare, William,
        1564-1616","Globe Theatre (London, England : 1599-1644)"],"location_tesim":["University
        of Alberta Rutherford-Humanities & Social Science","Vanguard College","Burman
        University"],"responsibility_display":["Bernard Beckerman."],"electronic_tesim":["At
        Library"],"language_facet":["English"],"material_type_display":["254 p."],"source_tesim":["Symphony"],"source":["Symphony"],"institution_tesim":["Burman
        University","University of Alberta","Vanguard College"],"_version_":1642604989437181952,"timestamp":"2019-08-22T21:43:10.430Z","marc_display":"<?xml
        version=\"1.0\" encoding=\"UTF-8\"?><collection xmlns=\"http://www.loc.gov/MARC21/slim\"><record><leader>01954cam
        a22004091  4500</leader><controlfield tag=\"001\">1002481</controlfield><controlfield
        tag=\"008\">880413t19661962nyu    g          0 eng d</controlfield><datafield
        tag=\"010\" ind1=\" \" ind2=\" \"><subfield code=\"a\">   62007159 /L</subfield></datafield><datafield
        tag=\"035\" ind1=\" \" ind2=\" \"><subfield code=\"a\">ocm05019600</subfield></datafield><datafield
        tag=\"040\" ind1=\" \" ind2=\" \"><subfield code=\"a\">LC</subfield><subfield
        code=\"b\">eng</subfield></datafield><datafield tag=\"043\" ind1=\" \" ind2=\"
        \"><subfield code=\"a\">e-uk-en</subfield></datafield><datafield tag=\"045\"
        ind1=\" \" ind2=\" \"><subfield code=\"a\">t9u0</subfield></datafield><datafield
        tag=\"049\" ind1=\" \" ind2=\" \"><subfield code=\"a\">AEU</subfield><subfield
        code=\"b\">eng</subfield></datafield><datafield tag=\"050\" ind1=\" \" ind2=\"0\"><subfield
        code=\"a\">PR3095</subfield><subfield code=\"b\">.B4</subfield></datafield><datafield
        tag=\"[...]
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=1002481
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1002481</titleID><TitleAvailabilityInfo><totalCopiesAvailable>7</totalCopiesAvailable><libraryWithAvailableCopies>Burman
        University</libraryWithAvailableCopies><libraryWithAvailableCopies>University
        of Alberta Rutherford-Humanities &amp; Social Science</libraryWithAvailableCopies><libraryWithAvailableCopies>Vanguard
        College</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ON_SHELF</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>BURMAN</libraryID><classificationID>LC</classificationID><callNumber>PR
        3095 .B4 1966</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>32860000453984</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>PR
        3095 B39 1966</callNumber><numberOfCopies>5</numberOfCopies><ItemInfo><itemID>0162001016151</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000024114811</itemID><itemTypeID>BOOK[...]
