---
http_interactions:
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=1002481
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>1002481</titleID><TitleAvailabilityInfo><totalCopiesAvailable>7</totalCopiesAvailable><libraryWithAvailableCopies>Burman
        University</libraryWithAvailableCopies><libraryWithAvailableCopies>University
        of Alberta Rutherford-Humanities &amp; Social Science</libraryWithAvailableCopies><libraryWithAvailableCopies>Vanguard
        College</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>ON_SHELF</locationOfFirstAvailableItem><holdable>true</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>BURMAN</libraryID><classificationID>LC</classificationID><callNumber>PR
        3095 .B4 1966</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>32860000453984</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><CallInfo><libraryID>UAHSS</libraryID><classificationID>LC</classificationID><callNumber>PR
        3095 B39 1966</callNumber><numberOfCopies>5</numberOfCopies><ItemInfo><itemID>0162001016151</itemID><itemTypeID>BOOK</itemTypeID><currentLocationID>ON_SHELF</currentLocationID><homeLocationID>ON_SHELF</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo><ItemInfo><itemID>000024114811</itemID><itemTypeID>BOOK[...]
[...]
- request:
    method: get
    uri: https://ws.library.ualberta.ca/symws3/rest/standard/lookupTitleInfo?clientID=Primo&includeAvailabilityInfo=true&includeItemInfo=true&includeMarcHoldings=true&marcEntryFilter=ALL&titleID=2714245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><LookupTitleInfoResponse
        xmlns="http://schemas.sirsidynix.com/symws/standard"><TitleInfo><titleID>2714245</titleID><TitleAvailabilityInfo><totalCopiesAvailable>1</totalCopiesAvailable><libraryWithAvailableCopies>Alberta
        Government Library - Internet</libraryWithAvailableCopies><totalResvCopiesAvailable>0</totalResvCopiesAvailable><locationOfFirstAvailableItem>INTERNET</locationOfFirstAvailableItem><holdable>false</holdable><bookable>false</bookable></TitleAvailabilityInfo><CallInfo><libraryID>AGINTERNET</libraryID><classificationID>LC</classificationID><callNumber>Internet
        Access</callNumber><numberOfCopies>1</numberOfCopies><ItemInfo><itemID>2714245-3001</itemID><itemTypeID>E-RESOURCE</itemTypeID><currentLocationID>INTERNET</currentLocationID><homeLocationID>INTERNET</homeLocationID><chargeable>true</chargeable><fixedTimeBooking>false</fixedTimeBooking></ItemInfo></CallInfo><BibliographicInfo><MarcEntryInfo><label>Leader</label><entryID>000</entryID><indicators>  </indicators><text>as
        a0c a</text></MarcEntryInfo><MarcEntryInfo><label>key</label><entryID>001</entryID><indicators>  </indicators><text>2714245</text></MarcEntryInfo><MarcEntryInfo><label>Data
        source</label><entryID>003</entryID><indicators>  </indicators><text>CaAEU</text></MarcEntryInfo><MarcEntryInfo><label>Date/time
        stamp</label><entryID>005</entryID><indicators>  </indicators><text>20030606092808.0</text></MarcEntryInfo><MarcEntryInfo><label>Added
        material codes</label><entry[...]
[...]
