<div class="footer">
	<div class="container"> 
		<div class="col-sm-6">
			<%= link_to image_tag("neos-logo"), "https://www.neoslibraries.ca" %>
		</div>
		<div class="col-sm-6 footer-links">
			<%- if @library -%>
				<%= link_to @libraries[@library]["name"]+" Library Website", @homeurl %>  <%= link_to @libraries[@library]["name"]+" Library NEOS information Website", @neosurl %> 
			<%- end -%>
		</div>
	</div>
</div>
