<% # bookmark/folder functions -%>
<%#= render_document_heading(document, :tag => :h1) %>

<% if document.to_h["title_display"].class == String %>
  <% @display_title = document.to_h["title_display"] %>
<% elsif document.to_h["title_display"].class == Array %>
  <% @display_title = document.to_h["title_display"].first %>
<% end %>

       <% document.to_h['edition_tesim'] ? @edition = ", #{document.to_h['edition_tesim'].first}" : @edition = "" %>
       <% document.to_h['section_name_tesim'] ? @section = ". #{document.to_h['section_name_tesim'].first}" : @section = "" %>
       <% document.to_h['section_number_tesim'] ? @section_number = " #{document.to_h['section_number_tesim'].first.gsub(',','')}" : @section_number = "" %>
       <% @display_title.nil? ? @combined_title = "Untitled document" : @combined_title = @display_title+@section_number+@section+@edition %>

       <h1><%= @combined_title %> </h1>
