html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 150px;
}
.footer {
  margin-top: -100px;
  background-color:#15505C;
  width:100%;
  height:100px;
}
.footer-links>a{
  font-size:16px;
  text-align:right;
  color:#fff;
  padding-top:15px;
  display:block;
}
.navbar-inverse {
  background-color:#15505C;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
#header-navbar .navbar-brand {
  background-image:none;
  color:#FFFBED;
  text-indent:0;
  margin:0 20px 0 0;
  width:100px;
  padding: 5px;
  text-align: center;
  height: 70px;
  font-size: 15px;
  letter-spacing: 1px;
}
#header-navbar .navbar-brand span{
  display: block;
  font-size: 30px;
  border:2px solid #FFFBED;
  border-width: 2px 0;
  padding: 5px;
  margin-top: 5px;
}
.navbar-header img{
  background-color:#fff;
  height:110px;
}
.navbar-header img.neos, .footer img{
  background-color:transparent;
  height:80px;
  padding-top: 10px; 
}
.navbar-header img.neos{
 margin-bottom: 20px;
}
.navbar-static-top {
    border-width:2px 0;
}
#search-navbar {
    padding:10px 0;
}
.neos-tag{
  color: #fff;
  float: right;
  padding-left:20px;
  padding-top: 75px;
  font-size: 18px;
  font-style: italic;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
    margin-top:-30px;
}
.library-list{
  list-style: none;
  padding:0;
}
.library-list>li{

}
.library-list>li>a{
    font-size:16px;
}
.library-list>li>a>img{
  width:150px;
  height: 150px;
  border-radius:10px;
  margin-bottom:5px;
  box-shadow: 2px 2px 2px #888888;
  display: none;
}
.library-list>li>a>img:hover{
  opacity: 0.8;
}
.welcome{
  font-size:16px;
  line-height:25px;
}
.welcome-head{
  font-size:25px;
  line-height: 35px;
}
.results-img img{
  width: 80px;
  float: right;
  margin: 0 20px 5px 0;
}
#documents .document .document-title-heading{
  font-size: 17px;
  line-height: 24px;
}
.hold {
    background-color: #207399;
    -webkit-background-size: 8px;
    background-size: 8px;
    color: #fff;
    padding: 6px 10px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    width: 100%;
}
.hold:hover{
  color: #fff;
  background-color: #273946;
}
#subject-list{
  margin-left: 20px;
}
.subject-chain-links{
  padding-left: 30px;
}
.subject-chain-links a{
  font-weight: bold;
  font-size: 15px;
}
#holdings table{
  width: 100%;
  font-size: 15px;
  margin-top:20px;
}
#holdings table th{
  font-weight: bold;
  background-color: #B2C6D1;
  padding: 5px 20px;
  font-size:20px;
}
#holdings table td{
  padding: 10px 15px 10px 15px;
  border: 3px solid #fff;
  border-width: 3px 0;
  background-color: #eceff4;
}
#holdings table td.call-number{
  min-width: 250px;
}
#holdings>.statuses{
  display:none;
}
.document h1{
  font-size: 26px;
}
.loc-call{

  display: block;

  padding: 5px 0;
}
span.a-label{
  display: inline;
  font-size: 14px;
  color: #666;
  
}
.lib-loc{
  font-weight: bold;
  margin-bottom: 0;
}
.not-available{
  padding:30px;
  font-size:20px;
  font-weight: bold;
}
.dl-horizontal{
  margin-left: 20px;
}
.dl-horizontal dt {
    float: left;
    width: auto;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    padding-right:3px;
}
.dl-horizontal dd {
    margin-left: auto;
}
.full-record-book-jacket{
  padding-top: 20px;
  text-align: center;
}
.full-record-book-jacket img{
    border: 2px solid #000;
  }
  .full-record-book-jacket ul{
    text-align: left;
  }
.nav > li > a {
    padding: 5px 8px;
}
.navbar-nav li{
  border-right:1px solid #fff;
}
.navbar-nav li.last{
  border: none;
}
li.bookmark{
  padding-left: 8px;
}
.holding-status, .holding-type{
  text-transform: capitalize;
}
.navbar-form{
  margin-right:-15px;
}
.advanced_search{
  float: right;
}
.home-search, .intro{
  padding-top:80px;
}
.home-search .twitter-typeahead input.tt-input.form-control {
    height: 48px;
    font-size: 18px;
}
.feed{
  font-size:18px;
  font-weight:bold;
  padding-top:50px;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
   .library-list > li{
      width:150px;
  height: 200px;
  float: left;
  margin: 0 20px 20px 0;
    text-align: center;
  }
  .library-list > li > a > img {
    display: block;
  }
}
@media print{
  .modal-content{
    background-color: #fff !important;
  }
  .full-record-book-jacket{
    display: none;
  }
}
