.navbar-inverse {
  background-color:#207399;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
#header-navbar .navbar-brand {
  background-image:none;
  color:#fff;
  text-indent:0;
}
.navbar-header img{
  background-color:#fff;
}

#holdings{
  padding-top: 10px;
}
#holdings table{
  width: 100%;
}
#holdings table th{
  font-weight: bold;
  background-color: #B2C6D1;
  padding: 5px 25px 5px 10px;
  border-left: 3px solid #fff;
}
#holdings table td{
  padding: 5px 25px 5px 15px;
  border-left: 3px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #eceff4;
}
#holdings table td.call-number{
  min-width: 250px;
}
.holding-status, .holding-type{
  text-transform: capitalize;
}

