<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
    <li><a href="https://goo.gl/forms/0eHLBasn4V1N1Cxp1">Feedback</a></li>
  </ul>


</div>
