<div class="navbar-right">
  <ul class="nav navbar-nav">
    <%= render_nav_actions do |config, action|%>
      <li><%= action %></li>
    <% end %>
    
    <li><a href="https://myaccount.library.ualberta.ca/barcode">Login</a></li>
    <li><a href="https://www.neoslibraries.ca/catalogue-help/">Help</a></li>
    <li class="last"><a href="https://goo.gl/forms/0eHLBasn4V1N1Cxp1" target="_blank">Feedback</a></li>
  </ul>


</div>
